<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <header>
                <h1>Cosmetics Recommender</h1>
            </header>

            <form className="form" onsubmit=getRoutine()>
                <input type="text" id="skin-type-val" placeholder="Skin Type" />
                <input type="text" id="product-type-val" placeholder="Liked Product" />

                <button type="submit">{"Submit for Your Skincare Routine"}</button>
            </form>
        </div>
        <div id="answer-box">

        </div>

    </div>

    <script>

        function answerBoxTemplate(title, titleDesc) {
            return `<div class=''>
                <h3 class='episode-title'>${title}</h3>
                <p class='episode-desc'>${titleDesc}</p>
            </div>`
        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function getRoutine() {
            document.getElementById("answer-box").innerHTML = ""
            const resultsList = document.getElementById("results");

            console.log(document.getElementById("product-type-val").value)
            console.log(document.getElementById("skin-type-val").value)
            fetch("/product?" + new URLSearchParams({ title: document.getElementById("product-type-val").value }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {

                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(row.Name, row.Label, row.Ingredients)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));

        }

    </script>
</body>