<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Forum&family=IBM+Plex+Mono&family=Instrument+Serif&display=swap"
    rel="stylesheet">
<script src="https://kit.fontawesome.com/5b699043bd.js" crossorigin="anonymous"></script>

<body>
    <div class="full-body-container">
        <div class="input-text">
            <header>
                <h1>GLOW</h1>
                <h2>Build My Skincare Routine</h2><br />
            </header>

            <div class="body-text">
                <h3>Please input your Liked and Disliked Products:</h3><br />
                <!-- <div class = "flex-container"> -->
                <div class="resulting-search">
                    <!-- <div class = "flex-child liked"> -->
                    <div class="liked">
                        <input class="filter-text" placeholder="Liked Products" id="filter-text-val"
                            onkeyup="showResults()">
                    </div>
                    <div class="search-results"></div>
                    <div class="selected-tags"></div><br />
                    <!-- <br /> -->

                    <!-- <div class = "flex-child disliked"> -->
                    <div class="disliked">
                        <input class="filter-text" placeholder="Disliked Products" id="disliked-val"
                            onkeyup="showDisResults()">
                    </div>
                    <div class="dis-search-results"></div>
                    <div class="dis-selected-tags"></div><br />
                </div>
                <!-- </div>
 <br/>
 <div class="search-results"></div>
 <div class="selected-tags"></div>
 <br/>
 <div class="dis-search-results"></div>
 <div class="dis-selected-tags"></div><br />
 <div/> -->

                <h3>Please select your Skin Type:</h3>
                <div class="skin_type_container">
                    <label class="container_skin">
                        <input type="radio" class="radio_button" id="oily" name="skin_type"
                            value="Oily">Oily</input><br />
                    </label>
                    <label class="container_skin">
                        <input type="radio" class="radio_button" id="dry" name="skin_type" value="Dry">Dry</input><br />
                    </label>
                    <label class="container_skin">
                        <input type="radio" id="combination" name="skin_type" value="Combination"
                            class="radio_button">Combination</input><br />
                    </label>
                    <label class="container_skin">
                        <input type="radio" class="radio_button" id="normal" name="skin_type"
                            value="Normal">Normal</input><br />
                    </label>
                    <label class="container_skin">
                        <input type="radio" id="sensitive" name="skin_type" value="Sensitive"
                            class="radio_button">Sensitive</input><br />
                    </label>
                </div>

                <h3>Please input your Price Range:</h3><br />
                <div class="flex-container">
                    <input class="flex-child filter-text" placeholder="Min Price" id="min-price">
                    <p>to</p>
                    <input class="flex-child filter-text" placeholder="Max Price" id="max-price">
                </div>

                <br />
                <button id="submit_btn" onclick="filterText()">Submit for Your Skincare Routine</button>
            </div>

        </div>
        <div id="query-box">

        </div>
        <div class="row answer-container">
            <div class="column" id="moist">
                <div class="card answer-box" id="moist-box">
                    <p class='episode-title'>Moisturizer</p>
                </div>
            </div>
            <div class="column" id="cleans">
                <div class="card answer-box" id="cleans-box">
                    <p class='episode-title'>Cleanser</p>
                </div>
            </div>
            <div class="column" id="sun">
                <div class="card answer-box" id="sun-box">
                    <p class='episode-title'>Sun Protection</p>
                </div>
            </div>
            <div class="column" id="treat">
                <div class="card answer-box" id="treat-box">
                    <p class='episode-title'>Treatment</p>
                </div>
            </div>
        </div>

        <button class="regen" id="submit_btn" onClick="regenerate()">Regenerate Results</button>

        <div id="test-box"></div>

    </div>

    <script>

        searchResults = document.querySelector('.search-results');
        selectedTags = document.querySelector('.selected-tags');

        // Function to show the search results dropdown
        async function showResults(results) {
            searchResults.innerHTML = '';
            searchResults.style.display = 'block';

            await fetch("/search?" + new URLSearchParams(
                { name: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(result => {

                    const item = document.createElement('div');
                    item.classList.add('search-result-item');
                    item.textContent = result;
                    item.addEventListener('click', function () {
                        addTag(result);
                    });

                    searchResults.appendChild(item);
                }));
            if (searchResults.innerHTML !== '') {
                searchResults.style.display = 'block';
            } else {
                searchResults.style.display = 'none';
            }
        }

        // Function to add a selected tag
        function addTag(tag) {
            const tagElement = document.createElement('div');
            tagElement.classList.add('selected-tag');
            tagElement.textContent = tag;
            const deleteButton = document.createElement('span');
            deleteButton.classList.add('delete-tag');
            deleteButton.textContent = 'X';
            deleteButton.addEventListener('click', function () {
                tagElement.remove();
            });
            tagElement.appendChild(deleteButton);
            selectedTags.appendChild(tagElement);

            // console.log(selectedTags.innerHTML);

            document.getElementById("filter-text-val").value = '';
            searchResults.style.display = 'none';
        }

        searchResultsDis = document.querySelector('.dis-search-results');
        selectedTagsDis = document.querySelector('.dis-selected-tags');

        async function showDisResults(results) {
            searchResultsDis.innerHTML = '';
            searchResultsDis.style.display = 'block';

            await fetch("/search?" + new URLSearchParams(
                { name: document.getElementById("disliked-val").value }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(result => {

                    const item = document.createElement('div');
                    item.classList.add('search-result-item');
                    item.textContent = result;
                    item.addEventListener('click', function () {
                        addDisTag(result);
                    });

                    searchResultsDis.appendChild(item);
                }));
            if (searchResultsDis.innerHTML !== '') {
                searchResultsDis.style.display = 'block';
            } else {
                searchResultsDis.style.display = 'none';
            }
        }

        // Function to add a selected tag
        function addDisTag(tag) {
            const tagElement = document.createElement('div');
            tagElement.classList.add('selected-tag');
            tagElement.textContent = tag;
            const deleteButton = document.createElement('span');
            deleteButton.classList.add('delete-tag');
            deleteButton.textContent = 'X';
            deleteButton.addEventListener('click', function () {
                tagElement.remove();
            });
            tagElement.appendChild(deleteButton);
            selectedTagsDis.appendChild(tagElement);

            // console.log(selectedTagsDis.innerHTML);

            document.getElementById("disliked-val").value = '';
            searchResultsDis.style.display = 'none';
        }

        // Event listener for clicks outside the search bar and results dropdown
        document.addEventListener('click', function (event) {
            if (!event.target.closest('.search-bar') && !event.target.closest('.selected-tag')) {
                searchResults.style.display = 'none';
                searchResultsDis.style.display = 'none';
            }
        });

        function querySearch() {
            fetch("/query?" + new URLSearchParams(
                { name: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => {
                    let tempDiv = `<div class=''>
 <h2 class='episode-title'>Your Favorite Product: ${data.prod_name}</h3>
 </div>`
                    document.getElementById("query-box").innerHTML = tempDiv
                });
        }

        function answerBoxTemplate(name, score, rank, price, brand, skin_types) {
            rank = Math.round(rank * 2) / 2
            let stars = '<span></span>';
            if (rank == 0.0) {
                stars = '<span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span>';
            }
            if (rank == 0.5) {
                stars = '<span class="fa-solid fa-star-half-stroke"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span>';
            }
            if (rank == 1.0) {
                stars = '<span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span>';
            }
            if (rank == 1.5) {
                stars = '<span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star-half-stroke"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span>';
            }
            if (rank == 2.0) {
                stars = '<span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span>';
            }
            if (rank == 2.5) {
                stars = '<span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star-half-stroke"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span>';
            }
            if (rank == 3.0) {
                stars = '<span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span>';
            }
            if (rank == 3.5) {
                stars = '<span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star-half-stroke"></span><span class="fa-solid fa-star"></span>';
            }
            if (rank == 4.0) {
                stars = '<span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star"></span>';
            }
            if (rank == 4.5) {
                stars = '<span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star-half-stroke"></span>';
            }
            if (rank == 5.0) {
                stars = '<span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span>';
            }

            let skins = "";
            for (let i = 0; i < skin_types.length; i++) {
                skins += skin_types[i] + ", ";
            }
            // ingredients.innerHTML += '<span>${currentElement}</span>');

            return `<div class="product-box">
 <p class="episode-desc">${name}</p>
 <p class="episode-desc">Brand: ${brand}</p>
 <p class="episode-desc">Score: ${score}</p>
 <p class="episode-desc">Average User Rating: ${stars}</p>
 <p class="episode-desc">Price: $${price}</p>
 <p class="episode-desc ingreds">Works for these skin types: ${skins}</p>
 <p class="episode-desc">Like this product?<button id=rel-${name} onClick = "() => addLiked('${name}')"><a class="fa-solid fa-thumbs-up"></a></button> or <button id=irrel-${name} onClick = "() => addDisliked('${name}')"><a class="fa-solid fa-thumbs-down"></a></button></p>
 </div>`
        }

        function filterText() {
            document.getElementById("moist-box").innerHTML = "<p class='episode-title'>Moisturizer</p>"
            document.getElementById("cleans-box").innerHTML = "<p class='episode-title'>Cleanser</p>"
            document.getElementById("sun-box").innerHTML = "<p class='episode-title'>Sun Protection</p>"
            document.getElementById("treat-box").innerHTML = "<p class='episode-title'>Treatment</p>"

            var skin_types = document.getElementsByName("skin_type")
            var skin_type = ''
            for (i = 0; i < skin_types.length; i++) {
                if (skin_types[i].checked) {
                    skin_type = skin_types[i].value
                    break
                }
            }

            // const selectedTags = document.getElementById('selected-tags');
            tags = [];
            // console.log(selectedTags.innerHTML);
            for (let i = 0; i < selectedTags.children.length; i++) {
                t = selectedTags.children[i].textContent;
                tags.push(t.substring(0, t.length - 1));
            }

            dis_tags = [];
            for (let i = 0; i < selectedTagsDis.children.length; i++) {
                t = selectedTagsDis.children[i].textContent;
                dis_tags.push(t.substring(0, t.length - 1));
            }

            fetch("/products?" + new URLSearchParams(
                {
                    names: tags,
                    disliked: dis_tags,
                    skin: skin_type,
                    min_price: document.getElementById("min-price").value,
                    max_price: document.getElementById("max-price").value,
                }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {
                    console.log(row);
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(row.name, row.score, row.rank, row.price, row.brand, row.skin_types)
                    if (row.label === "Moisturizer")
                        document.getElementById("moist").appendChild(tempDiv)
                    else if (row.label === "Cleanser")
                        document.getElementById("cleans").appendChild(tempDiv)
                    else if (row.label === "Sun protect")
                        document.getElementById("sun").appendChild(tempDiv)
                    else if (row.label === "Treatment")
                        document.getElementById("treat").appendChild(tempDiv)
                }));

        }

        // likedResults = document.createElement("div");
        // dislikedResults = document.createElement("div");

        likedResults = []
        dislikedResults = []

        function addLiked(tag) {
            console.log("addliked", tag)
            likedResults.push(tag)
            // const tagElement = document.createElement('div');
            // tagElement.classList.add('liked-result');
            // tagElement.textContent = tag;
            // likedResults.appendChild(tagElement);

            // console.log(likedResults.innerHTML);
        }

        function addDisliked(tag) {
            console.log("add disliked", tag)
            dislikedResults.push(tag)
            // const tagElement = document.createElement('div');
            // tagElement.classList.add('disliked-result');
            // tagElement.textContent = tag;
            // dislikedResults.appendChild(tagElement);

            // console.log(dislikedResults.innerHTML);
        }

        function regenerate() {
            document.getElementById("moist-box").innerHTML = "<p class='episode-title'>Moisturizer</p>"
            document.getElementById("cleans-box").innerHTML = "<p class='episode-title'>Cleanser</p>"
            document.getElementById("sun-box").innerHTML = "<p class='episode-title'>Sun Protection</p>"
            document.getElementById("treat-box").innerHTML = "<p class='episode-title'>Treatment</p>"

            var skin_types = document.getElementsByName("skin_type")
            var skin_type = ''
            for (i = 0; i < skin_types.length; i++) {
                if (skin_types[i].checked) {
                    skin_type = skin_types[i].value
                    break
                }
            }

            // const selectedTags = document.getElementById('selected-tags');
            tags = [];
            console.log(selectedTags.innerHTML);
            for (let i = 0; i < selectedTags.children.length; i++) {
                t = selectedTags.children[i].textContent;
                tags.push(t.substring(0, t.length - 1));
            }

            dis_tags = [];
            for (let i = 0; i < selectedTagsDis.children.length; i++) {
                t = selectedTagsDis.children[i].textContent;
                dis_tags.push(t.substring(0, t.length - 1));
            }

            // rel = "";
            // for (let i = 0; i < likedResults.length; i++) {
            //     t = likedResults[i];
            //     rel += " , " + t.substring(0, t.length);
            // }
            console.log(likedResults)

            // irrel = "";
            // for (let i = 0; i < dislikedResults.length; i++) {
            //     t = dislikedResults[i];
            //     irrel += " , " + t.substring(0, t.length);
            // }
            console.log(dislikedResults)

            fetch("/regenerate?" + new URLSearchParams(
                {
                    names: tags,
                    disliked: dis_tags,
                    skin: skin_type,
                    min_price: document.getElementById("min-price").value,
                    max_price: document.getElementById("max-price").value,
                    relevant: likedResults,
                    irrelevant: dislikedResults
                }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {
                    console.log(row);
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(row.name, row.score, row.rank, row.price, row.brand, row.skin_types)
                    if (row.label === "Moisturizer")
                        document.getElementById("moist").appendChild(tempDiv)
                    else if (row.label === "Cleanser")
                        document.getElementById("cleans").appendChild(tempDiv)
                    else if (row.label === "Sun protect")
                        document.getElementById("sun").appendChild(tempDiv)
                    else if (row.label === "Treatment")
                        document.getElementById("treat").appendChild(tempDiv)
                }));

        }
    </script>
</body>