<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Forum&family=IBM+Plex+Mono&family=Instrument+Serif&display=swap"
    rel="stylesheet">
<script src="https://kit.fontawesome.com/5b699043bd.js" crossorigin="anonymous"></script>

<body>
    <div class="full-body-container">
        <div class="input-text">
            <header>
                <h1>GLOW</h1>
                <h2>Build My Skincare Routine</h2><br />
            </header>

            <div class="body-text">
                <h3>Please input your Liked and Disliked Products:</h3><p style="color:green">At least one liked product required</p><br />
                <!-- <div class = "flex-container"> -->
                <div class="resulting-search">
                    <!-- <div class = "flex-child liked"> -->
                    <div class="liked">
                        <input class="filter-text" placeholder="Liked Products" id="filter-text-val"
                            onkeyup="showResults()">
                    </div>
                    <div class="search-results"></div>
                    <div class="selected-tags"></div><br />
                    <!-- <br /> -->

                    <!-- <div class = "flex-child disliked"> -->
                    <div class="disliked">
                        <input class="filter-text" placeholder="Disliked Products" id="disliked-val"
                            onkeyup="showDisResults()">
                    </div>
                    <div class="dis-search-results"></div>
                    <div class="dis-selected-tags"></div><br />
                </div>
                <!-- </div>
 <br/>
 <div class="search-results"></div>
 <div class="selected-tags"></div>
 <br/>
 <div class="dis-search-results"></div>
 <div class="dis-selected-tags"></div><br />
 <div/> -->
            
            <div class="flex-container" style="margin-left: 10%; margin-right: 10%;">
                <div class="skin_type_container">
                    <h3>Skin Type:</h3>
                    <label class="container_skin">
                        <input type="radio" class="radio_button" id="oily" name="skin_type"
                            value="Oily">Oily</input><br />
                    </label>
                    <label class="container_skin">
                        <input type="radio" class="radio_button" id="dry" name="skin_type" value="Dry">Dry</input><br />
                    </label>
                    <label class="container_skin">
                        <input type="radio" id="combination" name="skin_type" value="Combination"
                            class="radio_button">Combination</input><br />
                    </label>
                    <label class="container_skin">
                        <input type="radio" class="radio_button" id="normal" name="skin_type"
                            value="Normal">Normal</input><br />
                    </label>
                    <label class="container_skin">
                        <input type="radio" id="sensitive" name="skin_type" value="Sensitive"
                            class="radio_button">Sensitive</input>
                    </label>
                </div>
                
                
                <div class="skin_type_container">
                    <h3>Products in Routine:</h3>
                    <label class="container_skin"><input type="checkbox" name="product-type" value="cleanser" style="margin-right: 20px;">Cleanser</label><br />
                    <label class="container_skin"><input type="checkbox" name="product-type" value="face-mask" style="margin-right: 20px;">Face Mask</label><br />
                    <label class="container_skin"><input type="checkbox" name="product-type" value="eye-cream" style="margin-right: 20px;">Eye Cream</label><br />
                    <label class="container_skin"><input type="checkbox" name="product-type" value="moisturizer" style="margin-right: 20px;">Moisturizer</label><br />
                    <label class="container_skin"><input type="checkbox" name="product-type" value="treatment" style="margin-right: 20px;">Treatment</label><br />
                    <label class="container_skin"><input type="checkbox" name="product-type" value="sun-protection" style="margin-right: 20px;">Sun Protection</label>
                  </div>
            </div> 

                <h3>Please input your Price Range:</h3><br />
                <div class="flex-container">
                    <input class="flex-child filter-text" placeholder="Min Price" id="min-price">
                    <p>to</p>
                    <input class="flex-child filter-text" placeholder="Max Price" id="max-price">
                </div>

                <br />
                <button id="submit_btn" onclick="filterText()">Submit for Your Skincare Routine</button>
            </div>

        </div>
        <div id="query-box">

            <p class="text">Our system creates the best skin care routine based on your liked products, optional
                disliked products, skin type preferences, and optional price preferences! The results are outputting
                based on the product ingredients, prices, and average user ratings. <br />
                <br />
                Please rate the products below and press regenerate if you are not satisfied with your
                results!</p>
            <button class="regen" id="submit_btn" onClick="filterText()">Regenerate Results</button>


        </div>
        <div class="row answer-container">
            <div class="column" id="cleanser">
                <div class="card answer-box">
                    <!-- <p class='episode-title'>Cleanser</p> -->
                </div>
            </div>
            <div class="column" id="face-mask">
                <div class="card answer-box">
                    <!-- <p class='episode-title'>Treatment</p> -->
                </div>
            </div>
            <div class="column" id="eye-cream">
                <div class="card answer-box">
                    <!-- <p class='episode-title'>Treatment</p> -->
                </div>
            </div>
            <div class="column" id="moisturizer">
                <div class="card answer-box">
                    <!-- <p class='episode-title'>Moisturizer</p> -->
                </div>
            </div>
            <div class="column" id="treatment">
                <div class="card answer-box">
                    <!-- <p class='episode-title'>Treatment</p> -->
                </div>
            </div>
            <div class="column" id="sun-protection">
                <div class="card answer-box">
                    <!-- <p class='episode-title'>Sun Protection</p> -->
                </div>
            </div>
        </div>


        <div id="test-box"></div>

    </div>

    <script>

        searchResults = document.querySelector('.search-results');
        selectedTags = document.querySelector('.selected-tags');

        // Function to show the search results dropdown
        async function showResults(results) {
            searchResults.innerHTML = '';
            searchResults.style.display = 'block';

            await fetch("/search?" + new URLSearchParams( 
                { name: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(result => {

                    const item = document.createElement('div');
                    item.classList.add('search-result-item');
                    item.textContent = result;
                    item.addEventListener('click', function () {
                        addTag(result);
                    });

                    searchResults.appendChild(item);
                }));
            if (searchResults.innerHTML !== '') {
                searchResults.style.display = 'block';
            } else {
                searchResults.style.display = 'none';
            }
        }

        // Function to add a selected tag
        function addTag(tag) {
            const tagElement = document.createElement('div');
            tagElement.classList.add('selected-tag');
            tagElement.textContent = tag;
            const deleteButton = document.createElement('span');
            deleteButton.classList.add('delete-tag');
            deleteButton.textContent = 'X';
            deleteButton.addEventListener('click', function () {
                tagElement.remove();
            });
            tagElement.appendChild(deleteButton);
            selectedTags.appendChild(tagElement);

            // console.log(selectedTags.innerHTML);

            document.getElementById("filter-text-val").value = '';
            searchResults.style.display = 'none';
        }

        searchResultsDis = document.querySelector('.dis-search-results');
        selectedTagsDis = document.querySelector('.dis-selected-tags');

        async function showDisResults(results) {
            searchResultsDis.innerHTML = '';
            searchResultsDis.style.display = 'block';

            await fetch("/search?" + new URLSearchParams(
                { name: document.getElementById("disliked-val").value }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(result => {

                    const item = document.createElement('div');
                    item.classList.add('search-result-item');
                    item.textContent = result;
                    item.addEventListener('click', function () {
                        addDisTag(result);
                    });

                    searchResultsDis.appendChild(item);
                }));
            if (searchResultsDis.innerHTML !== '') {
                searchResultsDis.style.display = 'block';
            } else {
                searchResultsDis.style.display = 'none';
            }
        }

        // Function to add a selected tag
        function addDisTag(tag) {
            const tagElement = document.createElement('div');
            tagElement.classList.add('selected-tag');
            tagElement.textContent = tag;
            const deleteButton = document.createElement('span');
            deleteButton.classList.add('delete-tag');
            deleteButton.textContent = 'X';
            deleteButton.addEventListener('click', function () {
                tagElement.remove();
            });
            tagElement.appendChild(deleteButton);
            selectedTagsDis.appendChild(tagElement);

            // console.log(selectedTagsDis.innerHTML);

            document.getElementById("disliked-val").value = '';
            searchResultsDis.style.display = 'none';
        }

        // Event listener for clicks outside the search bar and results dropdown
        document.addEventListener('click', function (event) {
            if (!event.target.closest('.search-bar') && !event.target.closest('.selected-tag')) {
                searchResults.style.display = 'none';
                searchResultsDis.style.display = 'none';
            }
        });

        function querySearch() {
            fetch("/query?" + new URLSearchParams(
                { name: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => {
                    let tempDiv = `<div class=''>
 <h2 class='episode-title'>Your Favorite Product: ${data.prod_name}</h3>
 </div>`
                    document.getElementById("query-box").innerHTML = tempDiv
                });
        }

        function answerBoxTemplate(name, score, rank, price, brand, ingreds, skin_types) {
            rank = Math.round(rank * 2) / 2
            let stars = '<span></span>';
            if (rank == 0.0) {
                stars = '<span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span>';
            }
            if (rank == 0.5) {
                stars = '<span class="fa-solid fa-star-half-stroke"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span>';
            }
            if (rank == 1.0) {
                stars = '<span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span>';
            }
            if (rank == 1.5) {
                stars = '<span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star-half-stroke"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span>';
            }
            if (rank == 2.0) {
                stars = '<span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span>';
            }
            if (rank == 2.5) {
                stars = '<span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star-half-stroke"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span>';
            }
            if (rank == 3.0) {
                stars = '<span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star"></span><span class="fa-solid fa-star"></span>';
            }
            if (rank == 3.5) {
                stars = '<span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star-half-stroke"></span><span class="fa-solid fa-star"></span>';
            }
            if (rank == 4.0) {
                stars = '<span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star"></span>';
            }
            if (rank == 4.5) {
                stars = '<span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star-half-stroke"></span>';
            }
            if (rank == 5.0) {
                stars = '<span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span><span class="fa-solid fa-star filled-star"></span>';
            }

            let skins = "";
            for (let i = 0; i < skin_types.length; i++) {
                skins += skin_types[i] + ", ";
            }
            // ingredients.innerHTML += '<span>${currentElement}</span>');
            let ingredients = "";
            for (let i = 0; i < ingreds.length; i++) {
                ingredients += ingreds[i] + ", ";
            }

            return `<div class="product-box">
                <p class="episode-desc" id="${brand} ${name}">${name}</p>
                <p class="episode-desc" >Brand: ${brand}</p>
                <p class="episode-desc">Average User Rating: ${stars}</p>
                <p class="episode-desc">Price: $${price}</p>
                <p class="episode-desc">Works for these skin types: ${skins}</p>
                <p class="episode-desc">3 Common Ingredients: ${ingredients}</p>
                <p class="episode-desc">Like this product?<button id="rel-${name}" class="like-button" onclick="addLiked('${brand} ${name}')" = ><a class="fa-solid fa-thumbs-up"></a></button> or <button id="irrel-${name}" class="dislike-button" onclick="addDisliked('${brand} ${name}')"><a class="fa-solid fa-thumbs-down"></a></button></p>
            </div>`;
        }

        likedResults = []
        dislikedResults = []

        function addLiked(name) {
            console.log('Liked:', name);
            // const fullName = document.getElementById(name).textContent
            likedResults.push(name);
        }

        function addDisliked(name) {
            console.log('Disliked:', name);
            // fullName = document.getElementById(name).textContent
            dislikedResults.push(name);
        }

        // // add event listeners after the DOM is loaded
        // document.addEventListener('DOMContentLoaded', function () {
        //     // select all like buttons and add click event listener
        //     document.querySelectorAll('.like-button').forEach(function (button) {
        //         button.addEventListener('click', function () {
        //             const name = button.id.split('-')[1];
        //             console.log('Liked:', name);
        //             likedResults.push(name);
        //         });
        //     });

        //     // select all dislike buttons and add click event listener
        //     document.querySelectorAll('.dislike-button').forEach(function (button) {
        //         button.addEventListener('click', function () {
        //             const name = button.id.split('-')[1];
        //             console.log('Disliked:', name);
        //             dislikedResults.push(name);
        //         });
        //     });
        // });

        function filterText() {
            document.getElementById("moisturizer").innerHTML = "<p class='episode-title answer-box'>Moisturizer</p>"
            document.getElementById("cleanser").innerHTML = "<p class='episode-title answer-box'>Cleanser</p>"
            document.getElementById("sun-protection").innerHTML = "<p class='episode-title answer-box'>Sun Protection</p>"
            document.getElementById("treatment").innerHTML = "<p class='episode-title answer-box'>Treatment</p>"
            document.getElementById("eye-cream").innerHTML = "<p class='episode-title answer-box'>Eye Cream</p>"
            document.getElementById("face-mask").innerHTML = "<p class='episode-title answer-box'>Face Mask</p>"

            var skin_types = document.getElementsByName("skin_type")
            var skin_type = ''
            for (i = 0; i < skin_types.length; i++) {
                if (skin_types[i].checked) {
                    skin_type = skin_types[i].value
                    break
                }
            }

            // const selectedTags = document.getElementById('selected-tags');
            tags = [];
            // console.log(selectedTags.innerHTML);
            for (let i = 0; i < selectedTags.children.length; i++) {
                t = selectedTags.children[i].textContent;
                tags.push(t.substring(0, t.length - 1));
            }

            dis_tags = [];
            for (let i = 0; i < selectedTagsDis.children.length; i++) {
                t = selectedTagsDis.children[i].textContent;
                dis_tags.push(t.substring(0, t.length - 1));
            }

            var product_types = [];
            var checkboxes = document.getElementsByName('product-type');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    document.getElementById(checkboxes[i].value).style.display = 'block';
                    product_types.push(checkboxes[i].value);
                }
                else {
                    document.getElementById(checkboxes[i].value).style.display = 'none';
                }
            }

            fetch("/products?" + new URLSearchParams(
                {
                    names: tags,
                    disliked: dis_tags,
                    skin: skin_type,
                    routine: product_types,
                    min_price: document.getElementById("min-price").value,
                    max_price: document.getElementById("max-price").value,
                    relevant: likedResults,
                    irrelevant: dislikedResults
                }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {
                    // console.log(row);
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(row.name, row.score, row.rank, row.price, row.brand, row.ingreds, row.skin_types)
                    if (row.label === "Moisturizer")
                        document.getElementById("moisturizer").appendChild(tempDiv)
                    else if (row.label === "Cleanser")
                        document.getElementById("cleanser").appendChild(tempDiv)
                    else if (row.label === "Sun protect")
                        document.getElementById("sun-protection").appendChild(tempDiv)
                    else if (row.label === "Treatment")
                        document.getElementById("treatment").appendChild(tempDiv)
                    else if (row.label === "Eye Cream")
                        document.getElementById("eye-cream").appendChild(tempDiv)
                    else if (row.label === "Face Mask")
                        document.getElementById("face-mask").appendChild(tempDiv)
                }));

        }


        function regenerate() {
            document.getElementById("moisturizer").innerHTML = "<p class='episode-title answer-box'>Moisturizer</p>"
            document.getElementById("cleanser").innerHTML = "<p class='episode-title'>Cleanser</p>"
            document.getElementById("sun-protection").innerHTML = "<p class='episode-title'>Sun Protection</p>"
            document.getElementById("treatment").innerHTML = "<p class='episode-title'>Treatment</p>"

            var skin_types = document.getElementsByName("skin_type")
            var skin_type = ''
            for (i = 0; i < skin_types.length; i++) {
                if (skin_types[i].checked) {
                    skin_type = skin_types[i].value
                    break
                }
            }

            // const selectedTags = document.getElementById('selected-tags');
            tags = [];
            console.log(selectedTags.innerHTML);
            for (let i = 0; i < selectedTags.children.length; i++) {
                t = selectedTags.children[i].textContent;
                tags.push(t.substring(0, t.length - 1));
            }

            dis_tags = [];
            for (let i = 0; i < selectedTagsDis.children.length; i++) {
                t = selectedTagsDis.children[i].textContent;
                dis_tags.push(t.substring(0, t.length - 1));
            }

            console.log(likedResults)
            console.log(dislikedResults)

            fetch("/regenerate?" + new URLSearchParams(
                {
                    names: tags,
                    disliked: dis_tags,
                    skin: skin_type,
                    min_price: document.getElementById("min-price").value,
                    max_price: document.getElementById("max-price").value,
                    relevant: likedResults,
                    irrelevant: dislikedResults
                }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {
                    // console.log(row);
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(row.name, row.score, row.rank, row.price, row.brand, row.ingreds, row.skin_types)
                    if (row.label === "Moisturizer")
                        document.getElementById("moisturizer").appendChild(tempDiv)
                    else if (row.label === "Cleanser")
                        document.getElementById("cleanser").appendChild(tempDiv)
                    else if (row.label === "Sun protect")
                        document.getElementById("sun-protection").appendChild(tempDiv)
                    else if (row.label === "Treatment")
                        document.getElementById("treatment").appendChild(tempDiv)
                    else if (row.label === "Eye Cream")
                        document.getElementById("eye-cream").appendChild(tempDiv)
                    else if (row.label === "Face Mask")
                        document.getElementById("face-mask").appendChild(tempDiv)
                }));

        }
    </script>
</body>